/*Général*/

body {
    background-color: teal;
    color: white;
}

h1 {
    border: 1px solid white;
    width: 390px;
    padding: 30px;
    margin-bottom: 2%;
    text-align: center; 
}

#formulaire {
    border: 1px solid white;
    width: 450px;
    padding: 1% 0 1% 0;
}

/*div*/

.form {
    margin-bottom: 3%;
}

.button {
    margin-left: 35%;
}

/*input*/

#no {
    margin-left: 110px;
}

#pre {
    margin-left: 85px;
}

.check {
    margin-left: 160px;
}



#vil {
    margin-left: 110px;
}

#ma {
    margin-left: 100px;
}

#site {
    margin-left: 52px;
}

#hob {
    margin-left: 84px;
}

#tel {
    margin-left: 120px;
}

#col {
    margin-left: 80px;
}

#log {
    margin-left: 100px;
}

#mot {
    margin-left: 40px;
}