.card {
    border: 1px solid black;
    background-color: #fcf8c5;
    color: white;
    width: 60%;
    margin-bottom: 3%;
}

ul {
    list-style: none;
}

.card-description {
    border: 1px solid yellow;
    background-color: #3ba438;
    display: flex;
    width: 80%;
    margin: 3% 0 3% 3%;
}

.img {
    margin-top: 2%;
}

.description {
    margin-left: 2%;
}

.card-notes-tasks {
    border: 1px solid yellow;
    background-color: #3ba438;
    display: flex;
    justify-content: space-between;
    margin: 0 0 3% 3%;
    width: 93%;

}

.card-tags {
    border: 1px solid yellow;
    background-color: #3ba438;
    margin-left: 3%;
    width: 50%;
    margin-bottom: 3%;
}